<md-content class="" flex>
  <div layout="column" layout-align="center center">
    <div layout="row">
      <md-input-container flex>
        <label>Search article</label>
        <md-icon md-svg-icon="images/icons/ic_search_black_24px.svg"></md-icon>
        <input type="text" ng-model="searchArticle">
      </md-input-container>
    </div>
    <md-list flex class="md-whiteframe-1dp">
    <md-list-item class="md-3-line" ng-repeat="article in articles|filter:searchArticle">
      <img ng-src="images/icons/ic_book_black_48px.svg" class="md-avatar" alt="" />
      <div class="md-list-item-text" layout="column">
           <h4><a ui-sref="app.readArticle({id:article.article_id})"> {{ article.title }} </a></h3>
           <h4>{{ article.name }}</h4>
           <h4>{{ article.created_date_time }}</h4>
      </div>
    </md-list-item>
    <md-list flex>
  </div>
</md-content>
