<md-content flex layout-padding>
  <p ng-hide="loggedIn()" style="color:red">
    You need to login to create new article
  </p>
  <div class="md-dialog-content" layout="column" flex ng-controller="ArticleController">
      <md-input-container>
          <label for="">Article title</label>
          <input type="text" name="name" ng-model="article.title" value="">
      </md-input-container>
      <md-input-container class="md-block">
          <label>Article Content</label>
          <textarea ng-model="article.content" rows="5" md-select-on-focus></textarea>
      </md-input-container>
      <div layout="row">
        <md-button class="md-primary md-raised" ng-show="loggedIn()" ng-click="saveArticle(article)">Save</md-button>
        <md-button class="md-primary md-raised" ui-sref="app.home">Back</md-button>
      </div>
  </div>
</md-content>
