<md-content flex>
    <section layout="row" layout-align="center center" class="main_section">
        <div layout="column" layout-align="cebter center">
            <img class="img-circle" width="120px" height="120px" src="doll1.jpg" class="md-avatar" />
            <h1>Hi, I'm Swathi Pradeep</h1>
            <h3>Loves to explore web</h3>
            <md-button class="md-raised" ui-sref="app.home">Go to my app</md-button>
        </div>
    </section>
    <div layout="row" flex>
        <md-card flex="30">
          <p class="card_title">About Me</p>
            <md-divider></md-divider>
            <md-card-content>
                I'm a computer science graduate,seeking a challenging and rewarding opportunity with an organization which recognizes my true potential and effectively utilizes my skills in IT industry.
            </md-card-content>
            <!-- <md-button ui-sref="app">
            Go to APP
        </md-button> -->
        </md-card>
        <md-card flex="40">
            <p class="card_title">
              Skills
            </p>
            <md-divider></md-divider>
            <md-card-content>
                <md-slider-container>
                    <span>HTML</span>
                    <md-slider style="padding-left:50px" flex min="0" max="100" ng-model="80" aria-label="html" id="html-slider">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>CSS</span>
                    <md-slider style="padding-left:59px" flex min="0" max="100" ng-model="80" aria-label="html" id="html-slider">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span class="md-body-1">AngularJS</span>
                    <md-slider style="padding-left:50px" flex min="0" max="100" ng-model="40" aria-label="red" id="angular-slider">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>NodeJs</span>
                    <md-slider style="padding-left:50px" flex min="0" max="100" ng-model="40" aria-label="red" id="node-slider">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>PostgreSql</span>
                    <md-slider style="padding-left:50px" flex min="0" max="100" ng-model="30" aria-label="red" id="postgre-slider">
                    </md-slider>
                </md-slider-container>
                <md-slider-container>
                    <span>Android</span>
                    <md-slider style="padding-left:50px" flex min="0" max="100" ng-model="40" aria-label="red" id="android-slider">
                    </md-slider>
                </md-slider-container>
            </md-card-content>
            <!-- <md-button ui-sref="app">
            Go to APP
        </md-button> -->
        </md-card>
        <md-card flex="30">
          <p class="card_title">
            Education
          </p>
          <md-divider></md-divider>
            <md-card-content>
                <md-list flex>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>MCA</h3>
                            <h4>Amrita University</h4>
                            <p>Amrita School of arts and sciences</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text" layout="column">
                            <h3>BCA</h3>
                            <h4>Amrita University</h4>
                            <p>Amrita School of arts and sciences</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <!-- <md-button ui-sref="app">
            Go to APP
        </md-button> -->
        </md-card>
    </div>
</md-content>
